@model IEnumerable<WebProgramlama.Models.Urunler>
@{
    ViewBag.Title = "Satislar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sattığım Ürünler</h2>

@foreach (var x in Model)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <td>@x.UrunAdi</td>
                </tr>
                <tr>
                    <th>Fiyatı</th>
                    <td>@x.Fiyati</td>
                </tr>
                <tr>
                    <th>Şehir</th>
                    <td>@x.Sehir</td>
                </tr>           
            </thead>
            <br />
        </table>
    </div>



}