
@using PagedList
@using PagedList.Mvc
@model IPagedList<WebProgramlama.Models.Urunler>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="col-md-12" style="margin-top:40px;">
     
        
@foreach (var x in Model)
{
    <div class="col-md-3">
        <a class="img-rounded" href="~/@x.UrunFotografi" itemprop="name"
           style="padding-bottom:inherit">
            <img src="~/@x.UrunFotografi" height="280" width="220" />
        </a>
        <div class="product_title">
            <a href="~/Detaylar/Detaylar/@x.UrunID" class="modal-title">@x.UrunAdi</a>
        </div>
    </div>


}
  
        <div class="pagedList">
            @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
        </div>
    </div>

